* { margin: 0; padding: 0; box-sizing: border-box; font-family: "Poppins", sans-serif; }
html, body { scroll-snap-type: y mandatory; }
body { background-color: #ffffff; line-height: 1.6; overflow-y: scroll; }
a { text-decoration: none; }