* { margin: 0; padding: 0; box-sizing: border-box; font-family: "Poppins", sans-serif; }
html, body { scroll-snap-type: y mandatory; }
body { background-color: #fff; line-height: 1.6; overflow-y: scroll; }
h1, h2, h3, h4, h5, h6, p, ul, ol, table, figure { margin: 1rem 0; }
a { text-decoration: none; }