.hero { position: relative; min-height: 90vh; display: flex; justify-content: center; align-items: center; padding-top: 70px; background: url("../images/Cakra\ Cable\ Tray\ Hero.svg") center/cover no-repeat; }
/* .hero-overlay { position: absolute; inset: 0; background: rgba(255, 50, 50, 0.221); } */
.hero-content { position: relative; max-width: 100%; padding: 0 1rem; text-align: center; color: #fff; }
.hero-content h1 { font-size: clamp(2rem, 5vw, 3rem); margin-bottom: 1rem; }
.hero-content p { font-size: 1.2rem; margin-bottom: 1.5rem; }