.navbar { position: fixed; top: 0; left: 0; width: 100%; padding: 15px 40px; display: flex; justify-content: center; align-items: center; z-index: 1000; background-color: #911d1d; color: #fff; transition: background-color 0.3s ease, box-shadow 0.3s ease; }
.navbar.scrolled { background-color: #911d1d; box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); }
.navbar-logo { margin: 0 10px; }
.navbar-logo img { height: 50px; }
.navbar-logo a { display: inline-block; }
.navbar-toggle { display: none; background: none; border: none; color: #fff; font-size: 1.5rem; cursor: pointer; }
.navbar > a { position: relative; color: #fff; margin: 0 20px; font-size: 17px; padding: 10px 15px; text-decoration: none; overflow: hidden; z-index: 1; }
.navbar > a::before { content: ""; position: absolute; bottom: 0; left: 0; transform: scaleX(0); transform-origin: bottom; width: 100%; height: 100%; background-color: #fff; z-index: -1; transition: transform 0.3s ease; border-radius: 6px; }
.navbar > a:hover::before { transform: scaleX(1); }
.navbar > a:hover { color: #911d1d; }